<!-- Loading Animation -->
<!-- TODO: THIS SHOULD BE A DIRECTIVE/FACTORY??? -->
<div ng-show="showLoading()" class="component-loading">
    <div class="component-loading-inner">
        <div id="floatingCirclesG">
            <div class="f_circleG" id="frotateG_01">
            </div>
            <div class="f_circleG" id="frotateG_02">
            </div>
            <div class="f_circleG" id="frotateG_03">
            </div>
            <div class="f_circleG" id="frotateG_04">
            </div>
            <div class="f_circleG" id="frotateG_05">
            </div>
            <div class="f_circleG" id="frotateG_06">
            </div>
            <div class="f_circleG" id="frotateG_07">
            </div>
            <div class="f_circleG" id="frotateG_08">
            </div>
        </div>
        Loading...
    </div>
</div>
<div ng-show="showLoading()" class="component-overlay"></div>