<!-- Large modal -->
<button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title lead" id="myModalLabel">2732 NE 51st Ave, Portland, OR &mdash; $399,000</h4>
            </div>
            <div class="modal-body">
                
                <!-- Carosel -->
                <div class="row">
                    <div class="col-sm-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="http://www.rmlsweb.com/WEBPHOTOS/14300000/80000/5000/14385576-1.jpg" alt="img1">
                                    <div class="carousel-caption">

                                    </div>
                                </div>
                                <div class="item">
                                    <img src="http://www.rmlsweb.com/WEBPHOTOS/14300000/80000/5000/14385576-2.jpg" alt="img2">
                                    <div class="carousel-caption">

                                    </div>
                                </div>
                                <div class="item">
                                    <img src="http://www.rmlsweb.com/WEBPHOTOS/14300000/80000/5000/14385576-3.jpg" alt="img3">
                                    <div class="carousel-caption">

                                    </div>
                                </div>
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#/temp#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#/temp#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Address
                <div class="row">
                    <div class="col-xs-12 lead">
                        <p>2732 NE 51st Ave, Portland, OR</p>
                    </div>
                </div> -->

                <!-- Price
                <div class="row">
                    <div class="col-xs-12 lead">
                        <p>$399,000</p>
                    </div>
                </div> -->

                <!-- Info -->
                <div class="row">
                    <div class="col-sm-12">

                        <!-- Info -->
                        <div class="row">
                            <div class="col-xs-4 lead">
                                <p>Beds/Baths: 3/2</p>
                            </div>

                            <div class="col-xs-4 lead">
                                <p>Sqft: 2100</p>
                            </div>

                            <div class="col-xs-4 lead">
                                <p>Built: 1922</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">

                        <!-- Info -->
                        <div class="row">
                            <div class="col-xs-4 lead">
                                <p>Lot: 5000sqft</p>
                            </div>

                            <div class="col-xs-4 lead">
                                <p>MLS: #87873429</p>
                            </div>

                            <div class="col-xs-4 lead">
                                <p>OO: XXXX</p>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Street Map 640 × 480 -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="street-view">Loading...</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>